.idea_modules/
.history/
.idea/
__pycache__/
.Python
pyvenv.cfg
.venv
pip-selfcheck.json
out
gen
*.py[cod]
*$py.class
.Python
*.log
*.sqlite*
.env
.DS_Store
.vscode
*.code-workspace
.pytest_cache
!.gitkeep
.mypy_cache
.coverage.*
.coverage
.ruff_cache
poetry.lock
